# ignore local rendered documentation
doc/_build/**

/bin/
/run/
/clm3_5_GENERIC_X86_clm3-pfl-pdaf/
/oasis3-mct_GENERIC_X86_clm3-pfl-pdaf/
/parflow_GENERIC_X86_clm3-pfl-pdaf/
/pdaf_GENERIC_X86_clm3-pfl-pdaf/
/tsmp_idealscal/
/lib/
